  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
          <p>© 2017 Drew Youngwerth</p>
          <address>27 Cherry Ln, Boise Idaho</address>
          <a href="mailto:person@example.com">person@example.com</a>
      </div>
    </div>
</footer>