<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> nav}}
  <section class="section">
    <div class="container content">
      {{{content}}}
    </div>
  </section>
  {{> footer}}
</body>
</html>