<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> nav}}
  <div class="columns">
    <div class="column is-three-quarters">
      <section class="section">
        <div class="container content">
          {{{body}}}
        </div>
      </section>
    </div>
    <div class="column">
      {{> article-menu}}
    </div>
  </div>
  {{> footer}}
</body>
</html>