  <footer class="footer">
    <div class="content">
      <div class="content has-text-centered">
        <p>© 2017 Burrito ltd</p>
        <address>27 Cherry Ln, Boise Idaho</address>
        <a href="mailto:info@burrito.ltd">info@burrito.ltd</a>
      </div>
    </div>
  </footer>