<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> nav}}
  <div class="columns">
    <div class="column is-three-quarters">
      <section class="section">
        <div class="container content">
          <h1>{{data.title}}</h1>
          <h3>By {{data.author}} - {{data.date}}</h2>
          {{> content}}
        </div>
      </section>
    </div>
    <div class="column">
      {{> article-menu}}
    </div>
  </div>
  {{> footer}}
</body>
</html>